<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
<h2>Create Account</h2>
<form action="/register" method="POST">


<label>Full Name</label>
<input type="text" name="fullname" required>


<label>Email</label>
<input type="email" name="email" required>


<label>Password</label>
<input type="password" name="password" required>


<label>Role</label>
<select name="role">
<option value="user">User</option>
<option value="admin">Admin</option>
</select>


<button type="submit">Register</button>
</form>


<p class="link">Already have an account? <a href="/">Login</a></p>
</div>
</body>
</html>