body{
background-color: #222121;
font-family: Arial, Helvetica, sans-serif;
}
.container{
padding: 20px;
max-width: 500px;
margin: 7% auto;
background-color: #333;
color: #fff;
border-radius: 12px;
box-shadow: 0 0 10px #aaa;
}
form{
display: flex;
flex-direction: column;
gap: 12px;
}
form label{
font-size: 20px;
margin-bottom: 5px;
}
form input{
padding: 10px;
border-radius: 10px;
border: none;
outline: none;
font-size: 16px;
}
form select{
padding: 10px;
border-radius: 10px;
font-size: 16px;
}
form button{
padding: 10px;
background-color: cadetblue;
border: none;
border-radius: 10px;
margin-top: 10px;
font-size: 22px;
color: chartreuse;
cursor: pointer;
}
form button:hover{
opacity: 0.8;
}
.link{
margin-top: 10px;
text-align: center;
}
.link a{
color: #8cf; text-decoration: none;
}